<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Movie Database</title>
<link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script type='text/javascript' src='../static/script.js'></script>
<script type='text/javascript' src='../static/tooltip.js'></script>
</head>
<link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<link rel="stylesheet" type="text/css" href="../static/dialog.css" />
<body>

<div id="menu">
<ul>
<li><a href="index"><img src="../static/images/go-home.png"><span class='label'>Home</span></a></li>
<li><a href="files"><img src="../static/images/view-list-tree.png"><span class='label'>Vista File</span></a></li>
<li><img src="../static/images/edit-find.png"><span class='label'>Cerca Film</span></li>
</ul>
</div>

{% block content %}{% endblock %}

</body>
</html>
