{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function() {
	$('.movielist li:odd').css('background-color','#dadada');
	$('.movielist li').click(
		function() {
			$(this).children('input').attr('checked','checked');
		}
	);
});
</script>

<h2>Risultati Ricerca</h2>
<form action='edit' method='post'>
<div class="movielist">
<ul>
<li><input type="radio" style="margin-right:10px" name="choice" value="-1"><b>Nessuna modifica</b></li>
{% for mymovie in results %}
<li class="more">
	<input type="radio" name="choice" value="{{mymovie.tmdbID}}">
	<img height=150 src='{{mymovie.imagefile}}'><p><b>{{mymovie.title}}</b> ({{mymovie.year}})</p>
	<p>regia di {{mymovie.director}}</p>
</li>
{% endfor %}
</ul>
<input type="hidden" name="id" value="{{movieid}}">
<input type="hidden" name="fid" value="{{fileid}}">
<input type="image" src="../static/images/dialog-ok.png" height="48" width="48" name="send">
</div>
</form>

{% endblock %}
